<nav class="mobile-drawer" id="mobileDrawer" aria-hidden="true">
  <div class="drawer-head">
    <img src="assets/logo.png" alt="logo" class="logo-sm">
    <button id="closeDrawer" class="icon-btn">✕</button>
  </div>
  <ul class="drawer-nav">
    <li><a href="../html/dashboard.html">Home</a></li>
    <li><a href="../html/accounts.html">Accounts</a></li>
    <li><a href="../html/transaction.html">Transactions</a></li>
    <li><a href="../html/transfer.html">Transfer</a></li>
    <li><a href="../html/zelle.html">Zelle</a></li>
    <li><a href="../html/help.html">Support</a></li>
  </ul>
</nav>
